.dataGrid{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.itemGrid{
    margin: 10px 20px 10px 30px;
}
.cardmediaIMg{
    width: 100%;
}
.dialog{
    width: 200px;
    box-sizing: border-box;
    border: 1px solid gray;
}